* {
  box-sizing: border-box;
  font-family: arial;
  font-size: 12px;
  color: #373737
}
body {	
	width: 960px;
	height: auto;
	margin: 0 auto;
	font-size:14;
	
}
section{
	display: grid;
	grid-template-columns: 288px 672px;
	grid-template-areas: 
	"c a"
	"d b"
	"e b"
	"f b"
	;
}

ul li {
	
list-style-type: none;
}
#cat {
	width: 150px;
	height: 150px;
	margin:75px 70px;
	border: 3px solid #C0B283;
	border-radius: 50%;
}
#a {
	grid-area:a;
	
}
#b {
	grid-area:b;
}
#c {
	grid-area:c;
	height:250px;
}
#d {
	grid-area:d;		
}
#d ul{
	padding-inline-start:0;
}
#d ul li{	
	padding: 5px 30px;
	text-align:center;
}


#e {
	grid-area:e;
}

#e p {
	padding: 10px 30px;
	text-align:center;
}
#f {
	grid-area:f;
}
#f img {
	margin: 10px 9px;
}

#a, #b {
	background-color: #f4f4f4;
}

#c, #d, #e, #f {
	background-color: #dcd0c0;
}

.aside-title {
	background-color: #373737;
	font-size:20px;
	font-weight: 700;
	color:#C0B283;
	padding: 4px 0;
	text-align: center;
	width: 288px;
	height: 30px;
	margin: 10px auto;
}
footer{
	background-color: #373737;
	margin:0;
	padding: 0;
}
footer p{
	color: #C0B283;
	margin:0;
	padding: 0;
}