* {
  box-sizing: border-box;
  font-family: arial;
  color: #373737
}
body {	
	width: 960px;
	height: auto;
	margin: 0 auto;
	font-size:14;
	
}
section{
	display: grid;
	grid-template-columns: 288px 672px;
	grid-template-areas: 
	"c a"
	"d b"
	"e b"
	"f b"
	;
}
#cat {
	width: 150px;
	height: 150px;
	margin:75px 70px;
	border: 3px solid #C0B283;
	border-radius: 50%;
}
#a {
	grid-area:a;
	
}
#b {
	grid-area:b;
}
#c {
	grid-area:c;
	height:250px;
}
#d {
	grid-area:d;
}
#e {
	grid-area:e;
}
#f {
	grid-area:f;
}

#a, #b {
	background-color: #f4f4f4;
}

#c, #d, #e, #f {
	background-color: #dcd0c0;
}

.aside-title {
	background-color: #373737;
	color:#C0B283;
	width: 288px;
	height: 30px;
	margin: 10px auto;
}
footer{
	background-color: #373737;
	color: #C0B283;
	margin:0;
	padding: 0;
}