* {
  box-sizing: border-box;
}
body {	
	width: 960px;
	height: auto;
	margin: 0 auto;
	font-size:14;
	
}
section{
	width: 560px;
	margin: 0 auto;
}
#cat {
	width: 250px;
	height: 250px;
	border: 2px solid dark-yellow;
	border-radius: 50%;
}
header {
	
}
aside {
	width: 400px;
	margin: 0 auto;
	background-color: yellow;	
	
}
main {
	
}